/************************* RESET *************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

input:focus-visible {
    outline: none;
}

/************************* ROOT ************************/
:root {
    /* common */
    --banner-heigth: 80px;
    --border-style: 1px solid #b0b0b0;
    --user-avatar-pd: 0.4rem 0.7rem;
    --input-msg-pd: 0.5rem 0.5rem;
    --overflow-style: scroll;

    /* palette */
    --primary-grey: #eaeaea;
    --color-white: #ffffff;
    --color-1: #808080;

    /* contact-dets */
    --contact-avatar-width: calc(var(--banner-heigth) - 15px);
    --contact-name-font-size: 1.3rem;

    /* last access */
    --lst-access-font-size: 0.9rem;

    /* text area */
    --text-area-padding: 5vw 4vw 0;
    --msg-box-gap: 15px;
    --msg-box-pd: 0.6rem;
    --send-msg-box-color:#d5f9ba;
    --received-msg-box-color: #ffffff;
    --max-width-msg-box: 60%;
    --msg-box-bdr-rad:10px;
    --menu-open-font-size: 0.9rem;
}

/******************** UTILITIES ***********************/

.flex-display {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/* framework */
.wd100 {
    width: 100%;
}

/************************ COMMON **********************/
body {
    font-family: 'Lato', sans-serif;
}

.wrapper,
.app-container {
    width: 100%;
    height: 100vh;
}


.contact-photo img {
    width: 100%;
    border-radius: 50%;
}

.ovfl-y {
    overflow-y: var(--overflow-style);
}

.no-bdr {
    border: none;
}

/******************** CONTACTS AREA ********************/
.contacts-area {
    display: none;
}

/* user section */
.user-section {
    display: none;
}

.user-photo img {
    display: none;
}

.user-options {
    display: none;
}

/*********************** CHAT AREA **********************/
/* chat-contact */
.chat-area {
    height: 100%;
    background-size: contain;
}

.contact-banner {
    width: 100%;
    height: var(--banner-heigth);
    min-height: var((--banner-min-heigth));
    background-color: var(--primary-grey);
    padding: var(--user-avatar-pd);
}

.contact-avatar {
    width: var(--contact-avatar-width);
}

.chat-contact {
    width: calc(95% - var(--banner-heigth));
}

.chat-contact-info {
    width: 100%;
}

.contact-name {
    font-size: var(--contact-name-font-size);
    font-weight: 500;
}

.lst-access {
    font-size: var(--lst-access-font-size);
    color: var(--color-1);
}

.chat-contact-opt {
    display: none;
}

/* text area */
.text-area {
    padding: var(--text-area-padding);
    gap: var(--msg-box-gap);
    width: 100%;
    height: calc(100% - 2 * var(--banner-heigth));
    background-image: url(../img/mine.jpg);
}

.msg-box {
    padding: var(--msg-box-pd);
    border-radius: var(--msg-box-bdr-rad);
    max-width: var(--max-width-msg-box);
    margin: 0.5rem 0;
    height: 100%;
}

.msg-box summary {
    list-style: none;
    
}

.send {
    background-color: var(--send-msg-box-color);
    width: fit-content;
    max-width: 50%;
    align-self: flex-end;
}

.received {
    background-color: var(--received-msg-box-color);
    width: fit-content;
}

.fa-angle-down {
    color: var(--color-1);
}

.chat-area {
    height: 100%;
}

.chat-dx {
    width: 20%;
}

.msg-time{
    padding: 0.2rem;
    text-align: end;
    font-size: 0.7rem;
    color: var(--color-1);
    align-self: flex-end;
}

.menu-open {
    width: 150px;
    font-size: var(--menu-open-font-size) ;
    transform: translateX(-100%);
    background-color: var(--color-white);
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);

}

.info-msg,
.delete-msg {
    width: 100%;
    padding: 0.7rem;
    text-align: center;
}

.info-msg:hover,
.delete-msg:hover {
    background-color: var(--primary-grey);
}

/* input msg */
.input-msg {
    width: 100%;
    height: var(--banner-heigth);
    background-color: var(--primary-grey);
    padding: var(--input-msg-pd);
}

.emoji-button {
    display: none;
}

.input-msg input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0 1rem;
}

.input-msg input:active {
    border: none;
}

.mic-button {
    display: none;
}