<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- css link -->
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/tablet.css" media="screen and (min-width:540px)">
    <link rel="stylesheet" href="css/desktop.css" media="screen and (min-width:991px)">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/dark-mode.css" media="(prefers-color-scheme: dark)">

    <!-- fontawesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- google font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--google font style -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- link to vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <div class="wrapper">
            <div class="app-container flex-display">
                <!-- CONTACTS AREA -->
                <div class="contacts-area">
    
                    <!-- USER SECTION -->
                    <div class="user-section space-between align-center wd100">
    
                        <div class="user-avatar align-center">
    
                            <div class="user-photo">
                                <img src="img/avatar_8.jpg" alt="">
                            </div>
                        </div>
    
                        <div class="user-options flex-center space-evenly">
                            
                            <button class="user-section-btn no-bdr">
                                <i class="fa-solid fa-circle-notch"></i>
                            </button>
    
                            <button class="user-section-btn no-bdr">
                                <i class="fa-solid fa-message"></i>
                            </button>
    
                            <button class="user-section-btn no-bdr">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>
    
                    </div>
    
                    <!-- NOTIFICATION ADV -->
                    <div class="notif-adv wd100 flex-display space-between">
    
                        <div class="notif-adv-ico flex-center">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
    
                        <div class="notif-adv-content flex-display justify-center flex-column">
                            <p>Ricevi le notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
    
                        </div>
    
                    </div>
    
                    <!-- CONTACT SEARCH BAR -->
                    <div class="contact-src-bar align-center">
                        <div class="src-bar-input">
    
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
    
                            <input type="text" class="input" placeholder="Cerca o inizia una nuova chat" maxlength="">
    
                        </div>
                    </div>
    
                    <!-- CONTACTS SECTION -->
                    <div class="contacts ovfl-y">
    
                        <div v-for="(contact, i) in contacts" 
                        class="contacts-msg space-between" 
                        @click="changeActiveIndex(i)">
    
                            <div class="contact-photo">
                                <img :src="contact.avatar"  alt="">
                            </div>
    
                            <div class="contact-dets space-between">
    
                                <div class="left-area flex-display flex-column justify-center">
    
                                    <p class="contact-name">
                                        {{ contact.name }}
                                    </p>
    
                                    <p class="last-msg">
                                        Ultimo messaggio ricevuto
                                    </p>

                                </div>
    
                                <div class="right-area">
                                    <p class="lst-msg-time">16:15</p>
                                </div>
                            </div>
                        </div>

                    </div>
    
                </div>
    
                <!-- CHAT AREA -->
                <div class="chat-area wd100 flex-display flex-wrap flex-column   space-between ">
                    <!-- CONTACT BANNER -->
                    <div class="contact-banner flex-display space-evenly">
                        <div class="contact-avatar flex-display flex-center">
    
                            <div class="contact-photo">
                                <img :src="contacts[activeIndex].avatar" alt="">
                            </div>
    
                        </div>
    
                        <div class="chat-contact flex-display flex-center space-between">
    
                            <div class="chat-contact-info">
                                <p class="contact-name">
                                    {{contacts[activeIndex].name}}
                                </p>
    
                                <p class="lst-access">
                                    Ultimo accesso oggi alle <span class="lst-access-time">16:16</span>
                                </p>
                            </div>
    
                            <div class="chat-contact-opt flex-center space-evenly">
    
                                <button class="no-bdr">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
    
                                <button class="no-bdr">
                                    <i class="fa-solid fa-paperclip"></i>
                                </button>
    
                                <button class="no-bdr">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
    
                            </div>
                        </div>
    
                    </div>
    
                    <!-- TEXT AREA -->
                    
                    <div class="text-area flex-display flex-column ovfl-y">

                        <div class="flex-display flex-column">

                            <div v-for="(text , i) in contacts[activeIndex].messages" 
                            class="msg-box" 
                            :class="text.status === 'sent' ? 'send' : 'received'">

                                <div class="msg-area flex-display">
                                    <div class="msg-text">
                                        {{ text.message }}
                                    </div>
                                    
                                    <div class=" chat-dx flex-display flex-column
                                    space-between">
                                        <details class="pos-rel">
    
                                            <summary>
                                                <i class="fa-solid fa-angle-down"></i>
                                            </summary>
            
                                            <div class="menu-open pos-abs flex-display flex-column flex-center">
    
                                                <div class="info-msg">Info messaggio</div>
                                                <div class="delete-msg">Cancella messaggio</div>
    
                                            </div>
    
                                        </details>
    
                                        <div class="msg-time ">
                                            {{changeDate(text.date)}}
                                        </div>

                                    </div>

                                </div>
        
                            </div>
                        </div>
                    </div>
                    
    
                    <!-- INPUT MESSAGE -->
                    <div class="input-msg flex-display flex-start pos-rel">
    
                        <button class="emoji-button no-bdr flex-center">
                            <i class="fa-regular fa-face-smile"></i>
                        </button>
    
                        <input type="text" class="no-bdr" placeholder="Scrivi un messaggio">
    
                        <button class="mic-button no-bdr flex-center">
                            <i class="fa-solid fa-microphone"></i>
                        </button>
    
    
                    </div>
    
                </div>
    
            </div>
        </div>

    </div>


    <!-- link to js -->

    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
</body>

</html>